.app {
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
.header{
  background: #0E65C9;
  /* display: flex; */
  padding: 0.2% 4rem;

  display: grid;
  grid-template-columns: 70% 15% auto;
}
.app-link{text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;}
.app-name{
  width: 67%;
  margin-top: auto;
margin-bottom: auto;
}
.header-actions{
  display: flex;
  display: flex;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  /* grid-template-columns: 1fr 1fr; */
}
.signup-container{
  background: #111;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 5%;
margin-bottom: 5%;
text-align: center;
  /* margin-top: 6%; */
/* margin-bottom: 6%; */
}

.loading{
  padding-left: 4rem;
color: black;
font-weight: lighter;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}
.popular{  background: #111;
  padding-left: 4rem;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
}
.movies{
  color: black;
  padding-left: 4rem;
  display: flex;
  margin-top: 3%;
}
.centered {
  font-weight: 900;
text-transform: uppercase;
margin: auto;
top: 35%;
left: 27%;
text-align: center;
position: absolute;
color: #fff;
width: 6%;
}
.center {
  position: absolute;
  color: #fff;
font-weight: 900;
  left: 8%;
text-align: center;
top: 35%;
}
.movie{
  background: #111;
  height: 100%;
  width: 60%;
  cursor: pointer;
}
.movie img{
  width: 100%;
  height: 10rem;
}
.login{
  margin-top: 13%;
  margin-left: 42%;
}

.series{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 2%;
  margin-bottom: 25%;
  grid-column-gap: 1%;
}
.movie-img{
  height: 203px;    width: 176px;}
.title{
  font-weight: lighter;
  color: black;
}
footer{
  background: #111;
  position: fixed;
  bottom: 0;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 30%;

}
.vertical-line{
  border-left: 1px solid #ccc;
  margin-top: 1%;
  margin-bottom: 1%;
}
.socials-store{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4%;
}
.socials{
  display: flex;
  gap: 7%;
  }
.socials img{
  height: 8%;
}
.items{display: flex;gap: 1%;}
.items p {font-weight: bolder; font-size: 14px}
.store{display: grid;
  grid-template-columns: 1fr 1fr 1fr;}
.store img{height: 11%}
.windows{
  width:50%
}

@media only screen and (max-width: 768px) {

.series{
  grid-template-columns: 1fr 1fr 1fr;
}
footer{
  height: 16%;
  width: 100%;
}
.store{display: none;}
.header{
  grid-template-columns: 50% 18% auto;
}
.login{    margin-top: 19%;}
.movie-img{width: 207px;}
}

@media only screen and (max-width: 368px) {
  .centered{left: 61%;}
  .center{left:23%}
  .header{
    grid-template-columns: 1fr;
padding-top: 1rem;
padding-bottom: 1rem;
  }
  .login{display: none;}
  .items{display: grid;
    grid-template-columns: 1fr;}

  .series{
    grid-template-columns: 1fr;
  }
  footer{
    height: 16%;
    width: 100%;
  }
  .store{display: none;}
  
  .signup-container{display: none;}
  .movie-img{width: 207px;}
  }